Repository roeap/inference-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: just, rustfmt

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit, commit-msg]
default_stages: [commit, push]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/commitizen-tools/commitizen
    rev: v2.38.0
    hooks:
      - id: commitizen
        stages: [commit-msg]

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.186"
    hooks:
      - id: ruff
        args: ["--config", "pyproject.toml"]

  - repo: https://github.com/psf/black
    rev: 22.12.0
    hooks:
      - id: black
        args: ["--config", "pyproject.toml"]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.4
    hooks:
      - id: prettier

  # - repo: https://github.com/asottile/pyupgrade
  #   rev: v3.3.1
  #   hooks:
  #     - id: pyupgrade
  #       exclude: setup.py
  #       entry: pyupgrade --py39-plus
  #       types:
  #         - python

  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.284
    hooks:
      - id: pyright

  - repo: local
    hooks:
      - id: just
        name: just
        language: system
        entry: just --fmt --unstable --check
        files: ^justfile$
        pass_filenames: false
        types:
          - file

      - id: rustfmt
        name: Rust Format
        language: system
        entry: bash -c "cargo +stable fmt --all -- --check"
        files: ^.*\.rs$
        types:
          - file
          - rust

build: cleanup buf files
  inference-protocol/buf.gen.yaml
  inference-server/tests/data/repo.yaml
  justfile
Due: just

feat: improve model version handling
  Cargo.lock
  inference-protocol/src/lib.rs
  inference-server/Cargo.toml
  inference-server/src/error.rs
  inference-server/src/main.rs
  inference-server/src/repositories/mod.rs
  inference-server/src/service/inference.rs
  inference-server/src/service/repository.rs
  inference-server/tests/data/repo.yaml
  scripts/client.ipynb
Due: rustfmt

feat: http client for mlflow crate
  Cargo.lock
  Cargo.toml
  inference-server/src/error.rs
  mlflow-client/Cargo.toml
  mlflow-client/src/client/backoff.rs
  mlflow-client/src/client/mock_server.rs
  mlflow-client/src/client/mod.rs
  mlflow-client/src/client/pagination.rs
  mlflow-client/src/client/retry.rs
  mlflow-client/src/client/token.rs
  mlflow-client/src/lib.rs
Due: rustfmt

feat: generate types for mlflow client
  Cargo.lock
  inference-server/Cargo.toml
  justfile
  mlflow-client/Cargo.toml
  mlflow-client/buf.gen.yaml
  mlflow-client/src/gen/mlflow.artifacts.rs
  mlflow-client/src/gen/mlflow.artifacts.serde.rs
  mlflow-client/src/gen/mlflow.artifacts.tonic.rs
  mlflow-client/src/gen/mlflow.rs
  mlflow-client/src/gen/mlflow.serde.rs
  mlflow-client/src/gen/mlflow.tonic.rs
  mlflow-client/src/lib.rs
Due: just, rustfmt

feat(mlflow): basic registered model operations
  .gitignore
  Cargo.lock
  justfile
  mlflow-client/Cargo.toml
  mlflow-client/buf.gen.yaml
  mlflow-client/examples/flow.rs
  mlflow-client/src/gen/mlflow.artifacts.rs
  mlflow-client/src/gen/mlflow.artifacts.tonic.rs
  mlflow-client/src/gen/mlflow.rs
  mlflow-client/src/gen/mlflow.tonic.rs
  mlflow-client/src/lib.rs
Due: just, rustfmt

feat: add some experiment apis
  mlflow-client/src/lib.rs
Due: rustfmt

feat: build docker container
  .dockerignore
  Dockerfile
  justfile
  mlflow-client/src/lib.rs
Due: just, rustfmt

feat(mlflow): add more client methods
  mlflow-client/src/lib.rs
Due: rustfmt

build: set-up skaffold builds
  .pre-commit-config.yaml
  README.md
  config/local-values.yaml
  helm/inference-server/.helmignore
  helm/inference-server/Chart.yaml
  helm/inference-server/templates/NOTES.txt
  helm/inference-server/templates/_helpers.tpl
  helm/inference-server/templates/deployment.yaml
  helm/inference-server/templates/hpa.yaml
  helm/inference-server/templates/ingress.yaml
  helm/inference-server/templates/service.yaml
  helm/inference-server/templates/serviceaccount.yaml
  helm/inference-server/templates/tests/test-connection.yaml
  helm/inference-server/values.yaml
  inference-server/src/main.rs
  justfile
  skaffold.yaml
Due: just, rustfmt

feat: build mlflow image
  docker/inference.Dockerfile
  docker/mlflow.Dockerfile
  helm/inference-server/templates/deployment.yaml
  skaffold.yaml
Due: none

chore: progress on helm chart
  helm/inference-server/files/envoy.yaml
  helm/inference-server/templates/configmap-envoy.yaml
  helm/inference-server/templates/deployment.yaml
  helm/inference-server/templates/extra-manifests.yaml
  helm/inference-server/values.yaml
  skaffold.yaml
Due: none

docs: minor cleanup
  README.md
  docs/assets/design.drawio.svg
  docs/index.md
  justfile
  scripts/client.ipynb
Due: just

feat(helm): run inference server
  docker/inference.Dockerfile
  helm/inference-server/files/repo.yaml
  helm/inference-server/templates/NOTES.txt
  helm/inference-server/templates/configmap-inference.yaml
  helm/inference-server/templates/deployment.yaml
  helm/inference-server/values.yaml
  inference-server/src/main.rs
  justfile
  poetry.lock
  pyproject.toml
  skaffold.yaml
Due: just, rustfmt

refactor: split out storage repo
  inference-server/src/repositories/mod.rs
  inference-server/src/repositories/storage.rs
Due: rustfmt

chore: update helm deployment
  Cargo.lock
  helm/inference-server/templates/deployment.yaml
  helm/inference-server/templates/ingress.yaml
  helm/inference-server/values.yaml
  inference-server/Cargo.toml
  inference-server/src/main.rs
  inference-server/src/service/mod.rs
Due: rustfmt
